Repository genlayerlabs/genvm: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-commit-test, cargo-fmt, cargo-clippy

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        exclude: ^\.git-third-party
      - id: end-of-file-fixer
        exclude: ^\.git-third-party
      - id: check-added-large-files
      - id: check-json
        exclude: ^\.git-third-party
      - id: check-yaml
      - id: check-toml
      - id: check-merge-conflict

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.9
    hooks:
      - id: ruff-format

  - repo: https://github.com/pryorda/dockerfilelint-precommit-hooks
    rev: v0.1.0
    hooks:
      - id: dockerfilelint
        exclude: executor/modules/implementation/webdriver/Dockerfile

  - repo: https://github.com/sirosen/check-jsonschema
    rev: 0.28.2
    hooks:
      - id: check-github-actions
      - id: check-github-workflows

  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v19.1.0
    hooks:
    - id: clang-format
      types_or: [c++, c]
      exclude: runners/softfloat/berkeley-softfloat-3

  - repo: https://github.com/editorconfig-checker/editorconfig-checker.python
    rev: 3.0.3
    hooks:
      - id: editorconfig-checker
        exclude: (.git-third-party|runners/py-libs|runners/genlayer-py-std/src-emb/onnx)

  - repo: local
    hooks:
      - id: check-shebang
        name: check shebang
        entry: ./build-scripts/hooks/shebang.py
        language: system

      - id: no-commit-test
        name: do not commit test runners
        entry: grep -P false runners/dbg.nix
        language: system
        files: ^runners/dbg.nix$

      - id: cargo-fmt
        name: cargo fmt
        entry: bash build-scripts/cargo-fmt.sh
        language: system
        files: .*\.rs$

      - id: cargo-clippy
        name: cargo clippy
        entry: bash build-scripts/cargo-clippy.sh
        language: system
        files: .*\.rs$

test change
  README.md
Due: none

feat: add genvm version wasm section
  doc/website/src/spec/02-execution-environment/01-wasip1.rst
  doc/website/src/spec/02-execution-environment/02-wasi_genlayer_sdk.rst
  executor/Cargo.lock
  executor/Cargo.toml
  executor/src/vm.rs
  executor/src/wasi/preview1.rs
  executor/testdata/cases/exploits/version.jsonnet
  executor/testdata/cases/exploits/version.stdout
  executor/testdata/cases/exploits/version.wat
  executor/testdata/runner/run.py
  runners/genlayer-py-std/src/genlayer/py/storage/__init__.py
Due: cargo-fmt, cargo-clippy

tests: simplify jsonnets
  executor/testdata/cases/_hello_world_class.jsonnet
  executor/testdata/cases/_hello_world_class_nondet.jsonnet
  executor/testdata/cases/exploits/flt.jsonnet
  executor/testdata/cases/exploits/unreachable.jsonnet
  executor/testdata/cases/exploits/version.jsonnet
  executor/testdata/cases/module/np.jsonnet
  executor/testdata/cases/module/pil.jsonnet
  executor/testdata/cases/py-core/balances/balance.jsonnet
  executor/testdata/cases/py-core/deploy.jsonnet
  executor/testdata/cases/py-core/embeddings/simple.jsonnet
  executor/testdata/cases/py-core/embeddings/vecdb.jsonnet
  executor/testdata/cases/py-core/erroring/oom.jsonnet
  executor/testdata/cases/py-core/nondet/trivial.jsonnet
  executor/testdata/cases/py-core/nondet/validator/sync.jsonnet
  executor/testdata/cases/py-core/rollbacks/nondet.jsonnet
  executor/testdata/cases/py-core/schemas/trivial.jsonnet
  executor/testdata/cases/self-run/datetime.jsonnet
  executor/testdata/cases/self-run/floats.jsonnet
  executor/testdata/cases/self-run/formats.jsonnet
  executor/testdata/cases/self-run/re.jsonnet
  executor/testdata/cases/storage/base.jsonnet
  executor/testdata/cases/storage/floats.jsonnet
  executor/testdata/cases/storage/np.jsonnet
  executor/testdata/cases/storage/persists.jsonnet
  executor/testdata/runner/run.py
Due: none

fix: creating docs on new tag release
  .github/workflows/release.yml
Due: none

docs: add runner versions
  doc/website/.gitignore
  doc/website/src/impl-spec/appendix/host-loop.rst
  doc/website/src/impl-spec/appendix/index.rst
  doc/website/src/impl-spec/appendix/runners-versions.rst
  doc/website/src/spec/02-execution-environment/02-wasip1.rst
  doc/website/src/spec/04-contract-interface/02-abi.rst
  doc/website/src/spec/04-contract-interface/05-execution-flow.rst
  doc/website/yabuild.rb
  runners/docs.nix
  runners/support/match-tags.py
Due: none

chore: pass CI
  .github/workflows/release.yml
  doc/website/merge-txts.rb
  doc/website/src/impl-spec/appendix/host-loop.rst
  doc/website/src/spec/03-vm/03-ram-limiting.rst
  executor/codegen/data/public-abi.json
Due: none

fix: docs pipeline (4)
  .github/workflows/deploy-docs.yml
  build-scripts/devenv/flake.nix
  build-scripts/ya-build-plugins/src/webget.rb
Due: none

fix: patch vecdb
  doc/website/src/spec/02-execution-environment/03-wasi_genlayer_sdk.rst
  doc/website/src/spec/03-vm/01-result.rst
  doc/website/yabuild.rb
  runners/genlayer-py-std/fuzz/fuzz_common.py
  runners/genlayer-py-std/fuzz/inputs/vec_db/01785503208f5719def1e0753ac69f849eddbc4dd783d0c9bc46f7e574bac605
  runners/genlayer-py-std/fuzz/inputs/vec_db/0a40ec8b0fa3ea5a1715b0da686667231ed3f516aaa584da48b215f40605a9e7
  runners/genlayer-py-std/fuzz/inputs/vec_db/10e82f4fe10c37e58ebb6d89d10fc3f7219db9f9281ebd57460bc6ac00d90440
  runners/genlayer-py-std/fuzz/inputs/vec_db/12e48a5e2cad9961ed157d8356da07f84ea74b99ee86bf60af1d54098773ddad
  runners/genlayer-py-std/fuzz/inputs/vec_db/1999c2fa5028f5facae9389ab57c8bd9c410302c8a11c8e36e5d2c1e42de8c62
  runners/genlayer-py-std/fuzz/inputs/vec_db/1a585c2d9d5adceac5fa248d9c900522e554f86c03594b19f1156577f278aff3
  runners/genlayer-py-std/fuzz/inputs/vec_db/3617eb925eccae8f254df19ee41c4abd71b710c41eb9e59d244c7494f95ffb19
  runners/genlayer-py-std/fuzz/inputs/vec_db/53862b3f750a4ac57e0b1990a60483e21c7f0a09939c3f26b7d6cb5349af923d
  runners/genlayer-py-std/fuzz/inputs/vec_db/579ea5a827e01f1cf0c9568979cc82ac43c96683b7096406332505235569b71d
  runners/genlayer-py-std/fuzz/inputs/vec_db/6b4a67f4e8d62c73c97951e6e7c5bbd16c8aeb72cbb125ee0c33c86b15ff662e
  runners/genlayer-py-std/fuzz/inputs/vec_db/6bd82213b04677c1eab21c5cf7f1aa2f7690011755d364a756e17f9bd8701e7a
  runners/genlayer-py-std/fuzz/inputs/vec_db/6df95802c7b9ffcae45188bdd6a167601d1b30ae2fccdcc267f8352883bd1845
  runners/genlayer-py-std/fuzz/inputs/vec_db/7d224fc3087dafe1bf6f1cccd665ba9dec4ffb2c9e45fe1f6cdd3f4d183ff640
  runners/genlayer-py-std/fuzz/inputs/vec_db/8314f03dedabce41d5790fca8a09fbe6225ece36f4810a25fd1f7d3c4e595dc9
  runners/genlayer-py-std/fuzz/inputs/vec_db/8e2efadae773009f80779a006fbdaf88363559f085ca10bd6732a18e86b1274b
  runners/genlayer-py-std/fuzz/inputs/vec_db/9dc670401d8b94a55e0cb81ae5b9845d5101818ef91d38799156f7400785b013
  runners/genlayer-py-std/fuzz/inputs/vec_db/abc14f083b535492e6644734684ecbc06fbb7c8ed87aed86fc7f975777b8821d
  runners/genlayer-py-std/fuzz/inputs/vec_db/ce60e42eda695e117acc298e25729ce9a001d0e84a17f8dc304f3fe28a564b0c
  runners/genlayer-py-std/fuzz/inputs/vec_db/d7720e23cc9fb8774cbde11095909a1a66fa4b224345ba6b9cd595107b915d0c
  runners/genlayer-py-std/fuzz/inputs/vec_db/e5b77c89429a694b519898cc401078af7b8a5f14228b72a272028f589073565c
  runners/genlayer-py-std/fuzz/run.sh
  runners/genlayer-py-std/fuzz/src/vec_db.py
  runners/genlayer-py-std/poetry.lock
  runners/genlayer-py-std/pyproject.toml
  runners/genlayer-py-std/src-emb/genlayer_embeddings/vecdb.py
Due: none

chore: pass tests, add changelog
  doc/website/src/api/changelog.rst
  executor/testdata/cases/py-core/embeddings/vecdb.py
  executor/testdata/cases/py-core/embeddings/vecdb.stdout
  executor/testdata/runner/base_host.py
  executor/testdata/runner/mock_host.py
  executor/testdata/runner/run.py
  runners/genlayer-py-std/fuzz/src/vec_db.py
  runners/genlayer-py-std/fuzz/src/vec_db_2.py
  runners/genlayer-py-std/src-emb/genlayer_embeddings/__init__.py
  runners/genlayer-py-std/src-emb/genlayer_embeddings/vecdb.py
  runners/genlayer-py-std/tests/test_storage_vecdb.py
Due: none

chore: close few spec issues
  doc/website/src/spec/01-core-architecture/02-vm.rst
  doc/website/src/spec/02-execution-environment/04-runners.rst
  doc/website/src/spec/04-contract-interface/01-calldata.rst
  doc/website/src/spec/04-contract-interface/04-upgradability.rst
  doc/website/src/spec/04-contract-interface/05-execution-flow.rst
  executor/common/src/logger/mod.rs
  executor/src/lib.rs
  executor/src/memlimiter.rs
  executor/src/wasi/genlayer_sdk.rs
Due: cargo-fmt, cargo-clippy

fix: optimize loading
  executor/src/version_timestamps.rs
  executor/src/vm.rs
  executor/testdata/cases/_hello_world_class_nondet.jsonnet
  executor/testdata/cases/_hello_world_class_nondet.py
  runners/genlayer-py-std/default.nix
  runners/genlayer-py-std/src/_genlayer_runner.py
  runners/genlayer-py-std/src/genlayer/__init__.py
  runners/genlayer-py-std/src/genlayer/_internal/msg.py
  runners/genlayer-py-std/src/genlayer/gl/__init__.py
  runners/genlayer-py-std/src/genlayer/gl/_internal/gl_call.py
  runners/genlayer-py-std/src/genlayer/gl/genvm_contracts.py
  runners/genlayer-py-std/src/genlayer/py/storage/_internal/generate.py
  runners/genlayer-py-std/src/genlayer/py/storage/_internal/numpy.py
  runners/hashes.nix
  runners/py-libs/pure-py/cloudpickle/cloudpickle.py
Due: cargo-fmt, cargo-clippy

fix: consume memory in limiter for dynamically allocated data
  executor/src/memlimiter.rs
  executor/src/wasi/common.rs
  executor/src/wasi/genlayer_sdk.rs
  executor/src/wasi/mod.rs
  executor/src/wasi/preview1.rs
  executor/src/wasi/vfs.rs
Due: cargo-fmt, cargo-clippy

feat: make nondet execution parallel
  doc/website/src/impl-spec/appendix/host-loop.rst
  executor/Cargo.lock
  executor/Cargo.toml
  executor/codegen/data/host-fns.json
  executor/common/src/lib.rs
  executor/common/src/sync.rs
  executor/src/exe/run.rs
  executor/src/host/host_fns.rs
  executor/src/host/mod.rs
  executor/src/lib.rs
  executor/src/vm.rs
  executor/src/wasi/genlayer_sdk.rs
  executor/src/wasi/mod.rs
  executor/testdata/cases/py-core/leader_errors/simple_valid_err_exit_wrong_err.stdout
  executor/testdata/cases/py-core/leader_errors/simple_valid_err_nerr.stdout
  executor/testdata/cases/py-core/nondet/eq_prompt_non_comparative_validator_bad.stdout
  executor/testdata/cases/py-core/nondet/validator/disagree.stdout
  executor/testdata/cases/py-core/nondet/validator/rollback_disagree.stdout
  executor/testdata/cases/py-core/nondet/validator/rollback_imm.1.stdout
  executor/testdata/runner/base_host.py
  executor/testdata/runner/host_fns.py
  executor/testdata/runner/mock_host.py
Due: cargo-fmt, cargo-clippy

fix: allow newtypes in schema construction
  runners/genlayer-py-std/src/genlayer/py/get_schema.py
  runners/genlayer-py-std/tests/test_schema.py
Due: none

chore: refactor shared bytes
  executor/common/src/sync.rs
  executor/common/src/util/mod.rs
  executor/src/modules.rs
  executor/src/rt/supervisor/actions.rs
  executor/src/runners/cache.rs
Due: cargo-fmt, cargo-clippy

feat: provide statistics from modules
  executor/modules/implementation/src/llm/ctx.rs
  executor/modules/implementation/src/llm/handler.rs
  executor/modules/implementation/src/llm/mod.rs
  executor/modules/implementation/src/llm/providers.rs
  executor/modules/implementation/src/scripting/ctx/dflt.rs
  executor/modules/implementation/src/scripting/ctx/mod.rs
  executor/modules/implementation/src/scripting/ctx/signing.rs
  executor/modules/implementation/src/scripting/mod.rs
  executor/modules/implementation/src/web/ctx.rs
  executor/modules/implementation/src/web/handler.rs
  executor/modules/implementation/src/web/mod.rs
  executor/src/lib.rs
Due: cargo-fmt, cargo-clippy

chore: improve supervisor struct
  executor/src/exe/run.rs
  executor/src/lib.rs
  executor/src/rt/supervisor/actions.rs
  executor/src/rt/supervisor/compilation.rs
  executor/src/rt/supervisor/mod.rs
  executor/src/wasi/genlayer_sdk.rs
  executor/src/wasi/mod.rs
Due: cargo-fmt, cargo-clippy

chore: add adr for versions
  doc/adr/000. WASI.md
  doc/adr/001. sandboxing.md
  doc/adr/002. code loading.md
  doc/adr/003. host communication.md
  doc/adr/004. calldata.md
  doc/adr/005. abi.md
  doc/adr/006. contract deployment.md
  doc/adr/007. floats.md
  doc/adr/008. storage.md
  doc/adr/009. code upgradability.md
  doc/adr/010. versions.md
Due: none

chore: update hashes
  runners/dbg.nix
  runners/hashes.nix
Due: no-commit-test

chore: pass CI
  .git-third-party/config.json
  .git-third-party/patches/executor/third-party/wasmtime/4
  runners/genlayer-py-std/poetry.lock
Due: none

improve panic message
  executor/common/src/util/mod.rs
Due: cargo-fmt, cargo-clippy

fix invalid link
  doc/website/src/impl-spec/index.rst
Due: none

fix: rework models to compile into python
  runners/genlayer-py-std/src-emb/genlayer_embeddings/_nn/__init__.py
  runners/genlayer-py-std/src-emb/genlayer_embeddings/_nn/builder.py
  runners/genlayer-py-std/src-emb/genlayer_embeddings/_nn/onnx_ops.py
  runners/genlayer-py-std/src-emb/genlayer_embeddings/_nn/tensor.py
  runners/genlayer-py-std/src-emb/genlayer_embeddings/model_wrappers.py
  runners/genlayer-py-std/tests/embeddings/test_embeddings.py
  runners/genlayer-py-std/tests/embeddings/test_embeddings_const_size.py
  runners/hashes.nix
Due: none

fix: do not initialize module connection just for stats
  executor/common/src/util/mod.rs
  executor/src/lib.rs
Due: cargo-fmt, cargo-clippy

feat: rewrite webdrivers to puppeteer
  .pre-commit-config.yaml
  executor/modules/implementation/scripting/lib-genvm.lua
  executor/modules/implementation/scripting/web-default.lua
  executor/modules/implementation/src/scripting/ctx/dflt.rs
  executor/modules/implementation/src/scripting/ctx/mod.rs
  executor/modules/implementation/src/web/ctx.rs
  executor/modules/implementation/src/web/handler.rs
  executor/modules/implementation/src/web/mod.rs
  executor/modules/implementation/webdriver/.dockerignore
  executor/modules/implementation/webdriver/Dockerfile
  executor/modules/implementation/webdriver/src/prj/.gitignore
  executor/modules/implementation/webdriver/src/prj/package-lock.json
  executor/modules/implementation/webdriver/src/prj/package.json
  executor/modules/implementation/webdriver/src/prj/src/index.ts
  executor/modules/implementation/webdriver/src/prj/tsconfig.json
  executor/modules/implementation/webdriver/src/start.sh
  executor/testdata/cases/py-core/nondet/get_webpage_404.jsonnet
  executor/testdata/cases/py-core/nondet/get_webpage_404.py
  executor/testdata/cases/py-core/nondet/get_webpage_404.stdout
  executor/testdata/cases/py-core/nondet/validator/sync_err.jsonnet
  executor/testdata/cases/py-core/nondet/validator/sync_err.stdout
  executor/testdata/cases/storage/to_str.jsonnet
  executor/testdata/cases/storage/to_str.py
  executor/testdata/cases/storage/to_str.stdout
Due: cargo-fmt, cargo-clippy

feat: second step of multi-version build migration
  .gitmodules
Due: none

feat: third step of multi-version build migration
  executor/modules/implementation/scripting/web-default.lua
  executor/modules/implementation/webdriver/.dockerignore
  executor/modules/implementation/webdriver/Dockerfile
  executor/modules/implementation/webdriver/src/prj/package.json
  executor/modules/implementation/webdriver/src/prj/src/index.ts
  executor/modules/implementation/webdriver/src/prj/tsconfig.json
  executor/modules/implementation/webdriver/src/start.sh
  flake.nix
  result
  runners/all/all.nix
  runners/all/default.nix
  runners/all/generation-00.nix
  runners/all/head.nix
  runners/default.nix
  runners/latest.nix
  runners/release.nix
  runners/support/default.nix
  runners/support/nix/current-hashes.nix
  runners/support/nix/dev-mode.nix
Due: none

feat: fix tests for multi-version build migration
  .gitmodules
  README.md
  build-scripts/count-lines.sh
  build-scripts/dbg.sh
  build-scripts/runners-dev-container/Dockerfile
  configure.rb
  env.sh
  executor/common/build.rs
  executor/common/src/lib.rs
  executor/common/src/version.rs
  executor/install/config/genvm.yaml
  executor/install/lib/python/post-install/__main__.py
  executor/src/config.rs
  executor/src/exe/precompile.rs
  executor/src/lib.rs
  executor/src/main.rs
  executor/src/rt/supervisor/actions.rs
  executor/src/rt/supervisor/mod.rs
  executor/src/rt/vm/mod.rs
  executor/src/runners/cache.rs
  executor/src/runners/mod.rs
  modules/implementation/Cargo.lock
  modules/implementation/Cargo.toml
  modules/implementation/src/common/mod.rs
  modules/implementation/src/llm/mod.rs
  modules/implementation/src/scripting/ctx/dflt.rs
  modules/implementation/src/scripting/mod.rs
  modules/implementation/src/web/mod.rs
  modules/implementation/yabuild.rb
  modules/install/config/genvm-web-default.lua
  modules/yabuild.rb
  result
  tests/cases/py-core/nondet/get_webpage_wait_js.jsonnet
  tests/runner/run.py
  tests/rust.sh
  yabuild-default-conf.rb
  yabuild.rb
Due: cargo-fmt, cargo-clippy

chore: apply formaters
  build-scripts/cargo-clippy.sh
  build-scripts/cargo-fmt.sh
  configure.rb
  executor/common/src/version.rs
  executor/src/exe/precompile.rs
  executor/src/lib.rs
  executor/src/rt/supervisor/actions.rs
  executor/src/rt/supervisor/mod.rs
  executor/src/rt/vm/mod.rs
  modules/implementation/src/common/mod.rs
  modules/implementation/src/llm/mod.rs
  modules/implementation/src/scripting/ctx/dflt.rs
  modules/implementation/src/scripting/ctx/mod.rs
  modules/implementation/src/scripting/mod.rs
Due: cargo-fmt, cargo-clippy

fix: remove 3 non-deterministic bytes
  executor/src/wasi/common.rs
  executor/src/wasi/preview1.rs
Due: cargo-fmt, cargo-clippy

chore: keep debug info in wasm
  flake.nix
  runners/support/genvm-wasm-add-mod-name/src/main.rs
  runners/support/nix/current-hashes.nix
Due: cargo-fmt, cargo-clippy

chore: fix a bug
  executor/src/wasi/preview1.rs
Due: cargo-fmt, cargo-clippy
