Repository genlayerlabs/genvm: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-commit-test, cargo-fmt, cargo-clippy

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        exclude: ^\.git-third-party
      - id: end-of-file-fixer
        exclude: ^\.git-third-party
      - id: check-added-large-files
      - id: check-json
        exclude: ^\.git-third-party
      - id: check-yaml
      - id: check-toml
      - id: check-merge-conflict

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.9
    hooks:
      - id: ruff-format

  - repo: https://github.com/pryorda/dockerfilelint-precommit-hooks
    rev: v0.1.0
    hooks:
      - id: dockerfilelint
        exclude: executor/modules/implementation/webdriver/Dockerfile

  - repo: https://github.com/sirosen/check-jsonschema
    rev: 0.28.2
    hooks:
      - id: check-github-actions
      - id: check-github-workflows

  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v19.1.0
    hooks:
    - id: clang-format
      types_or: [c++, c]
      exclude: runners/softfloat/berkeley-softfloat-3

  - repo: https://github.com/editorconfig-checker/editorconfig-checker.python
    rev: 3.0.3
    hooks:
      - id: editorconfig-checker
        exclude: (.git-third-party|runners/py-libs|runners/genlayer-py-std/src-emb/onnx)

  - repo: local
    hooks:
      - id: check-shebang
        name: check shebang
        entry: ./build-scripts/hooks/shebang.py
        language: system

      - id: no-commit-test
        name: do not commit test runners
        entry: grep -P false runners/dbg.nix
        language: system
        files: ^runners/dbg.nix$

      - id: cargo-fmt
        name: cargo fmt
        entry: bash build-scripts/cargo-fmt.sh
        language: system
        files: .*\.rs$

      - id: cargo-clippy
        name: cargo clippy
        entry: bash build-scripts/cargo-clippy.sh
        language: system
        files: .*\.rs$

chore: set hashes
  runners/dbg.nix
  runners/hashes.nix
Due: no-commit-test

feat: forbid non-stored compression
  executor/src/ustar.rs
  executor/src/vm.rs
Due: cargo-fmt, cargo-clippy

chore: pass CI
  .github/workflows/full.yaml
  .github/workflows/genvm-build-template.yaml
  executor/codegen/templates/py.rb
  executor/codegen/templates/rs.rb
  executor/common/src/calldata/de.rs
  executor/common/src/lib.rs
  executor/modules/implementation/src/common/mod.rs
  executor/modules/implementation/src/llm/providers.rs
  executor/modules/interfaces/src/lib.rs
  executor/src/errors.rs
  executor/src/host/mod.rs
  executor/src/lib.rs
  executor/src/mmap.rs
  executor/src/public_abi.rs
  executor/src/runner.rs
  executor/src/vm.rs
  executor/src/wasi/genlayer_sdk.rs
Due: cargo-fmt, cargo-clippy

chore: fix release workflow
  .github/workflows/genvm-build-template.yaml
  .github/workflows/release.yml
Due: none

fix: hotfix for studio
  build-scripts/rust-test.sh
  executor/Cargo.lock
  executor/common/Cargo.lock
  executor/common/Cargo.toml
  executor/common/src/logger/mod.rs
  executor/modules/implementation/Cargo.lock
  executor/modules/implementation/scripting/lib-llm.lua
  executor/modules/implementation/scripting/llm-default.lua
  executor/modules/implementation/src/common/mod.rs
  executor/modules/implementation/src/llm/ctx.rs
  executor/modules/implementation/src/llm/handler.rs
  executor/modules/implementation/src/llm/mod.rs
  executor/modules/implementation/src/scripting/ctx/dflt.rs
  executor/modules/implementation/src/scripting/mod.rs
  executor/modules/implementation/src/web/ctx.rs
  executor/modules/implementation/src/web/handler.rs
  executor/modules/interfaces/src/lib.rs
  executor/src/lib.rs
  executor/src/modules.rs
Due: cargo-fmt, cargo-clippy

feat(web): add signing
  build-scripts/rust-test.sh
  doc/schemas/default-config.json
  executor/modules/implementation/Cargo.lock
  executor/modules/implementation/Cargo.toml
  executor/modules/implementation/llm-default-config.yaml
  executor/modules/implementation/src/common/mod.rs
  executor/modules/implementation/src/llm/config.rs
  executor/modules/implementation/src/llm/mod.rs
  executor/modules/implementation/src/main.rs
  executor/modules/implementation/src/scripting/ctx/dflt.rs
  executor/modules/implementation/src/scripting/ctx/mod.rs
  executor/modules/implementation/src/scripting/ctx/req.rs
  executor/modules/implementation/src/scripting/ctx/signing.rs
  executor/modules/implementation/src/scripting/mod.rs
  executor/modules/implementation/src/web/config.rs
  executor/modules/implementation/src/web/handler.rs
  executor/modules/implementation/src/web/mod.rs
  executor/modules/implementation/web-default-config.yaml
  executor/modules/interfaces/src/lib.rs
  executor/src/lib.rs
  executor/src/modules.rs
  executor/testdata/cases/py-core/nondet/call_llm.py
  executor/testdata/cases/py-core/nondet/call_llm.stdout
  executor/testdata/cases/py-core/nondet/eq_prompt_comparative.py
  executor/testdata/cases/py-core/nondet/eq_prompt_comparative.stdout
Due: cargo-fmt, cargo-clippy

chore: add codegen
  doc/schemas/default-config.json
  executor/codegen/data/public-abi.json
  executor/modules/implementation/scripting/lib-llm.lua
  executor/modules/implementation/src/scripting/ctx/signing.rs
  executor/modules/implementation/web-default-config.yaml
  executor/src/errors.rs
  executor/src/lib.rs
  executor/src/modules.rs
  executor/src/public_abi.rs
  executor/src/runner.rs
  executor/src/vm.rs
  executor/src/wasi/genlayer_sdk.rs
  executor/testdata/runner/result_codes.py
  executor/testdata/runner/run.py
  runners/genlayer-py-std/src/genlayer/py/public_abi.py
Due: cargo-fmt, cargo-clippy

fix: aboid asdict in calldata
  executor/testdata/cases/storage/gvm-89.jsonnet
  executor/testdata/cases/storage/gvm-89.py
  executor/testdata/cases/storage/gvm-89.stdout
  runners/genlayer-py-std/src/genlayer/py/calldata.py
Due: none

feat: add fingerprint to errors (1)
  .git-third-party/config.json
  .git-third-party/patches/executor/third-party/wasmtime/3
  executor/Cargo.lock
  executor/src/errors.rs
  executor/src/exe/run.rs
  executor/src/host/mod.rs
  executor/src/lib.rs
  executor/src/vm.rs
  executor/src/wasi/base.rs
  executor/src/wasi/genlayer_sdk.rs
  executor/testdata/cases/exploits/unreachable.jsonnet
  executor/testdata/cases/exploits/unreachable.stdout
  executor/testdata/cases/exploits/unreachable.wat
Due: cargo-fmt, cargo-clippy

feat: add fingerprint to errors (3)
  executor/src/errors.rs
  executor/src/exe/run.rs
  executor/src/host/mod.rs
  executor/src/lib.rs
  executor/src/vm.rs
  executor/src/wasi/genlayer_sdk.rs
  executor/testdata/runner/run.py
Due: cargo-fmt, cargo-clippy

chore: switch to debug server, pass tests
  .git-third-party/patches/executor/third-party/wasmtime/3
  .github/workflows/full.yaml
  .github/workflows/genvm-test-template.yaml
  doc/schemas/default-config.json
  executor/Cargo.lock
  executor/Cargo.toml
  executor/modules/implementation/tests/lua/get_status.lua
  executor/testdata/cases/py-core/erroring/no_runner.stdout
  executor/testdata/cases/py-core/leader_errors/leader_no_nondet.stdout
  executor/testdata/cases/py-core/methods.py
  executor/testdata/cases/py-core/nondet/get_webpage.py
  executor/testdata/cases/py-core/nondet/get_webpage_screenshot.py
  executor/testdata/cases/py-core/nondet/get_webpage_wait_js.py
  executor/testdata/cases/py-core/nondet/request_body.py
  executor/testdata/cases/py-core/nondet/request_status.py
  executor/testdata/cases/py-core/sandbox/det/s/web.jsonnet
  executor/testdata/cases/py-core/sandbox/non-det/s/web.jsonnet
  executor/testdata/runner/run.py
  executor/testdata/web-container/run-test-docker.sh
  executor/testdata/web-container/volume/entry.sh
  executor/testdata/web-container/volume/http/hello.html
  executor/testdata/web-container/volume/http/js-generated.html
  executor/testdata/web-container/volume/http/stuck4timeout
  executor/testdata/web-container/volume/server.py
Due: none

feat: add signing
  executor/modules/implementation/src/common/mod.rs
  executor/modules/implementation/src/scripting/ctx/dflt.rs
  executor/modules/implementation/src/scripting/ctx/req.rs
  executor/modules/implementation/src/scripting/ctx/signing.rs
  executor/modules/implementation/tests/lua/bytes.lua
  executor/src/wasi/genlayer_sdk.rs
Due: cargo-fmt, cargo-clippy

chore: update hashes
  .github/workflows/full.yaml
  .github/workflows/genvm-test-template.yaml
  runners/hashes.nix
Due: none

chore: fix tests
  executor/testdata/cases/exploits/long_request.py
  executor/testdata/cases/py-core/erroring/no_runner.stdout
  executor/testdata/cases/py-core/leader_errors/leader_no_nondet.stdout
Due: none

feat: add more host errors
  build-scripts/devenv/flake.nix
  executor/codegen/data/host-fns.json
  executor/codegen/templates/py.rb
  executor/codegen/templates/rs.rb
  executor/src/exe/run.rs
  executor/src/host/host_fns.rs
  executor/src/host/mod.rs
  executor/src/mmap.rs
  executor/src/public_abi.rs
  executor/src/wasi/genlayer_sdk.rs
  executor/testdata/cases/exploits/long_request.py
  executor/testdata/runner/base_host.py
  executor/testdata/runner/host_fns.py
  executor/testdata/runner/mock_host.py
  executor/testdata/runner/result_codes.py
  executor/testdata/runner/run.py
  runners/genlayer-py-std/src/genlayer/py/public_abi.py
Due: cargo-fmt, cargo-clippy

chore: fix clippy
  executor/common/fuzz/genvm-common-encode.rs
  executor/common/src/lib.rs
  executor/common/src/logger/mod.rs
  executor/modules/implementation/src/common/mod.rs
  executor/modules/implementation/src/scripting/ctx/signing.rs
  executor/modules/implementation/src/web/domains.rs
  executor/modules/implementation/src/web/mod.rs
  executor/src/errors.rs
  executor/src/exe/run.rs
  executor/src/host/mod.rs
  executor/src/mmap.rs
  executor/src/vm.rs
  executor/src/wasi/genlayer_sdk.rs
  executor/src/wasi/preview1.rs
Due: cargo-fmt, cargo-clippy

docs: add docs for node communication
  .pre-commit-config.yaml
  doc/calldata.md
  doc/internal/node.md
  doc/running-process.md
  doc/schemas/message.json
  doc/vm-run-result.md
  executor/src/exe/run.rs
  executor/testdata/runner/base_host.py
  executor/testdata/templates/message.json
Due: cargo-fmt, cargo-clippy

feat: report error fingerprint to host
  doc/internal/node.md
  executor/common/src/calldata/types.rs
  executor/src/host/mod.rs
Due: cargo-fmt, cargo-clippy

feat: add gas consuption to llms
  doc/internal/node.md
  executor/codegen/data/host-fns.json
  executor/modules/implementation/scripting/llm-default.lua
  executor/modules/implementation/src/llm/ctx.rs
  executor/modules/implementation/src/llm/handler.rs
  executor/modules/implementation/src/llm/mod.rs
  executor/modules/interfaces/src/lib.rs
  executor/src/host/host_fns.rs
  executor/src/host/mod.rs
  executor/src/wasi/genlayer_sdk.rs
  executor/testdata/runner/base_host.py
  executor/testdata/runner/host_fns.py
  executor/testdata/runner/mock_host.py
Due: cargo-fmt, cargo-clippy

feat: add docs versions
  .github/workflows/deploy-docs-main.yml
  .github/workflows/deploy-docs-on-tag.yml
  .github/workflows/deploy-docs.yml
  .github/workflows/publish-docs.yml
  doc/website/src/conf.py
Due: none

docs: sort adrs
  doc/adr/0. WASI.md
  doc/adr/1. sandboxing.md
  doc/adr/2. code loading.md
  doc/adr/3. host communication.md
  doc/adr/4. calldata.md
  doc/adr/5. abi.md
  doc/adr/6. contract deployment.md
  doc/adr/7. floats.md
  doc/adr/8. storage.md
  doc/adr/9. code upgradability.md
  doc/adr/_template.md
  doc/contributing/workflows.md
  doc/internal/solved problems/0. WASI.md
  doc/internal/solved problems/1. sandboxing.md
  doc/internal/solved problems/2. code loading.md
  doc/internal/solved problems/3. host communication.md
  doc/internal/solved problems/4. calldata.md
  doc/internal/solved problems/5. abi.md
  doc/internal/solved problems/6. contract deployment.md
  doc/internal/solved problems/_template.md
  doc/internal/solved problems/floats.md
  doc/internal/solved problems/gas.md
  doc/internal/solved problems/storage.md
  doc/website/src/spec/abi/index.rst
  doc/website/src/spec/abi/upgradability.rst
Due: none

chore: prepare for release
  doc/website/src/api/genlayer.rst
Due: none

first version of spec
  .claude/commands/spec.md
  build-scripts/devenv/flake.lock
  build-scripts/devenv/flake.nix
  doc/internal/node.md
  doc/website/poetry.lock
  doc/website/pyproject.toml
  doc/website/src/conf.py
  doc/website/src/spec-old/abi/calldata.rst
  doc/website/src/spec-old/abi/contract_startup.rst
  doc/website/src/spec-old/abi/index.rst
  doc/website/src/spec-old/abi/runners.rst
  doc/website/src/spec-old/abi/upgradability.rst
  doc/website/src/spec-old/index.rst
  doc/website/src/spec/01-core-architecture/01-components.rst
  doc/website/src/spec/01-core-architecture/02-vm.rst
  doc/website/src/spec/01-core-architecture/03-host-interface.rst
  doc/website/src/spec/01-core-architecture/04-modules.rst
  doc/website/src/spec/01-core-architecture/index.rst
  doc/website/src/spec/02-execution-environment/01-wasip1.rst
  doc/website/src/spec/02-execution-environment/02-wasi_genlayer_sdk.rst
  doc/website/src/spec/02-execution-environment/03-runners.rst
  doc/website/src/spec/02-execution-environment/index.rst
  doc/website/src/spec/03-contract-interface/01-calldata.rst
  doc/website/src/spec/03-contract-interface/02-abi.rst
  doc/website/src/spec/03-contract-interface/03-storage.rst
  doc/website/src/spec/03-contract-interface/04-upgradability.rst
  doc/website/src/spec/03-contract-interface/05-execution-flow.rst
  doc/website/src/spec/03-contract-interface/index.rst
  doc/website/src/spec/glossary.rst
  doc/website/src/spec/index.rst
Due: none

fix typo
  doc/website/src/spec/03-contract-interface/03-storage.rst
Due: none

chore: minor fixes for re-release
  executor/modules/implementation/scripting/llm-default.lua
  executor/src/host/mod.rs
  executor/testdata/runner/base_host.py
  executor/testdata/runner/host_fns.py
Due: cargo-fmt, cargo-clippy

fix: change encoding of results
  .github/workflows/full.yaml
  doc/internal/node.md
  executor/common/src/calldata/bin.rs
  executor/common/src/calldata/mod.rs
  executor/src/host/mod.rs
  executor/testdata/cases/py-core/leader_errors/leader_no_nondet.stdout
  executor/testdata/runner/base_host.py
  executor/testdata/runner/mock_host.py
Due: cargo-fmt, cargo-clippy

docs: split spec
  doc/website/src/impl-spec/01-core-architecture/01-components.rst
  doc/website/src/impl-spec/01-core-architecture/02-host-interface.rst
  doc/website/src/impl-spec/01-core-architecture/03-modules.rst
  doc/website/src/impl-spec/01-core-architecture/index.rst
  doc/website/src/impl-spec/glossary.rst
  doc/website/src/impl-spec/index.rst
  doc/website/src/index.rst
  doc/website/src/spec/01-core-architecture/01-components.rst
  doc/website/src/spec/01-core-architecture/02-vm.rst
  doc/website/src/spec/03-contract-interface/01-calldata.rst
  doc/website/src/spec/03-contract-interface/03-storage.rst
  doc/website/src/spec/03-contract-interface/05-execution-flow.rst
  doc/website/src/spec/glossary.rst
  doc/website/src/spec/index.rst
Due: none

tests: fix schema that caused timeout
  executor/modules/implementation/src/scripting/ctx/signing.rs
Due: cargo-fmt, cargo-clippy

docs: fix typo
  doc/internal/node.md
Due: none

Batch update (#230)
  .github/workflows/full.yaml
  doc/internal/node.md
  doc/website/src/impl-spec/01-core-architecture/01-components.rst
  doc/website/src/impl-spec/01-core-architecture/02-host-interface.rst
  doc/website/src/impl-spec/01-core-architecture/03-modules.rst
  doc/website/src/impl-spec/01-core-architecture/index.rst
  doc/website/src/impl-spec/glossary.rst
  doc/website/src/impl-spec/index.rst
  doc/website/src/index.rst
  doc/website/src/spec/01-core-architecture/01-components.rst
  doc/website/src/spec/01-core-architecture/02-vm.rst
  doc/website/src/spec/03-contract-interface/01-calldata.rst
  doc/website/src/spec/03-contract-interface/03-storage.rst
  doc/website/src/spec/03-contract-interface/05-execution-flow.rst
  doc/website/src/spec/glossary.rst
  doc/website/src/spec/index.rst
  executor/common/src/calldata/bin.rs
  executor/common/src/calldata/mod.rs
  executor/modules/implementation/scripting/llm-default.lua
  executor/modules/implementation/src/scripting/ctx/signing.rs
  executor/src/host/mod.rs
  executor/testdata/cases/py-core/leader_errors/leader_no_nondet.stdout
  executor/testdata/runner/base_host.py
  executor/testdata/runner/host_fns.py
  executor/testdata/runner/mock_host.py
Due: cargo-fmt, cargo-clippy

feat: pass events to host
  doc/website/src/impl-spec/01-core-architecture/02-host-interface.rst
  executor/src/host/mod.rs
  executor/src/wasi/genlayer_sdk.rs
  executor/testdata/cases/py-core/events/new_ver.py
  executor/testdata/cases/py-core/events/post_event.jsonnet
  executor/testdata/cases/py-core/events/post_event.msgs
  executor/testdata/cases/py-core/events/post_event.py
  executor/testdata/cases/py-core/events/post_event.stdout
  executor/testdata/runner/base_host.py
  executor/testdata/runner/mock_host.py
Due: cargo-fmt, cargo-clippy

feat: add version registry
  executor/common/src/version.rs
  executor/src/lib.rs
  executor/src/runner.rs
  executor/src/version_timestamps.rs
  executor/src/vm.rs
  executor/src/wasi/genlayer_sdk.rs
  executor/testdata/cases/py-core/events/post_event.jsonnet
Due: cargo-fmt, cargo-clippy

feat: version timestamps (#231)
  doc/website/src/impl-spec/01-core-architecture/02-host-interface.rst
  executor/common/src/version.rs
  executor/src/host/mod.rs
  executor/src/lib.rs
  executor/src/runner.rs
  executor/src/version_timestamps.rs
  executor/src/vm.rs
  executor/src/wasi/genlayer_sdk.rs
  executor/testdata/cases/py-core/events/new_ver.py
  executor/testdata/cases/py-core/events/post_event.jsonnet
  executor/testdata/cases/py-core/events/post_event.msgs
  executor/testdata/cases/py-core/events/post_event.py
  executor/testdata/cases/py-core/events/post_event.stdout
  executor/testdata/runner/base_host.py
  executor/testdata/runner/mock_host.py
Due: cargo-fmt, cargo-clippy

fix: caching bug
  .github/workflows/genvm-build-runners.yaml
Due: none

chore: add submodules to hash
  .github/workflows/genvm-build-runners.yaml
Due: none

BLS license fix
  .github/workflows/update-bsl-date.yml
  LICENSE
Due: none
