Repository genlayerlabs/genvm: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-commit-test, cargo-fmt, cargo-clippy

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        exclude: ^\.git-third-party
      - id: end-of-file-fixer
        exclude: ^\.git-third-party
      - id: check-added-large-files
      - id: check-json
        exclude: ^\.git-third-party
      - id: check-yaml
      - id: check-toml
      - id: check-merge-conflict

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.9
    hooks:
      - id: ruff-format

  - repo: https://github.com/pryorda/dockerfilelint-precommit-hooks
    rev: v0.1.0
    hooks:
      - id: dockerfilelint
        exclude: executor/modules/implementation/webdriver/Dockerfile

  - repo: https://github.com/sirosen/check-jsonschema
    rev: 0.28.2
    hooks:
      - id: check-github-actions
      - id: check-github-workflows

  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v19.1.0
    hooks:
    - id: clang-format
      types_or: [c++, c]
      exclude: runners/softfloat/berkeley-softfloat-3

  - repo: https://github.com/editorconfig-checker/editorconfig-checker.python
    rev: 3.0.3
    hooks:
      - id: editorconfig-checker
        exclude: (.git-third-party|runners/py-libs|runners/genlayer-py-std/src-emb/onnx)

  - repo: local
    hooks:
      - id: check-shebang
        name: check shebang
        entry: ./build-scripts/hooks/shebang.py
        language: system

      - id: no-commit-test
        name: do not commit test runners
        entry: grep -P false runners/dbg.nix
        language: system
        files: ^runners/dbg.nix$

      - id: cargo-fmt
        name: cargo fmt
        entry: bash build-scripts/cargo-fmt.sh
        language: system
        files: .*\.rs$

      - id: cargo-clippy
        name: cargo clippy
        entry: bash build-scripts/cargo-clippy.sh
        language: system
        files: .*\.rs$

chore: pass ci
  .github/workflows/genvm-build-runners.yaml
  build-scripts/ci/prefetch-runners.py
  build-scripts/ci/publish-runners.py
  executor/testdata/runner/run.py
  runners/latest.nix
Due: none

fix: post runners registry cleanup
  .genvm-monorepo-root
  .github/workflows/genvm-build-runners.yaml
  .github/workflows/publish-docs.yml
  .gitmodules
  build-scripts/ci/prefetch-runners.py
  build-scripts/ci/publish-runners.py
  build-scripts/ya-build-plugins/publish-runner.rb
  build-scripts/ya-build-plugins/yabuild.rb
  doc/website/src/api/public/genlayer_embeddings.rst
  doc/website/src/api/public/index.rst
  doc/website/src/conf.py
  doc/website/src/spec/abi/runners.rst
  runners/build-here.nix
  runners/cpython/default.nix
  runners/cpython/deps/ffi/default.nix
  runners/cpython/modules/numpy/default.nix
  runners/default.nix
  runners/genlayer-py-std/src/genlayer/std/_internal/runner.py
  runners/hashes.nix
  runners/support/build-scripts/make-tar.py
  runners/yabuild.rb
Due: none

fix: post runners registry cleanup (#220)
  .genvm-monorepo-root
  .github/workflows/genvm-build-runners.yaml
  .github/workflows/publish-docs.yml
  .gitmodules
  build-scripts/ci/prefetch-runners.py
  build-scripts/ci/publish-runners.py
  build-scripts/ya-build-plugins/publish-runner.rb
  build-scripts/ya-build-plugins/yabuild.rb
  doc/website/src/api/public/genlayer_embeddings.rst
  doc/website/src/api/public/index.rst
  doc/website/src/conf.py
  doc/website/src/spec/abi/runners.rst
  runners/build-here.nix
  runners/cpython/default.nix
  runners/cpython/deps/ffi/default.nix
  runners/cpython/modules/numpy/default.nix
  runners/default.nix
  runners/genlayer-py-std/src/genlayer/std/_internal/runner.py
  runners/hashes.nix
  runners/support/build-scripts/make-tar.py
  runners/yabuild.rb
Due: none

fix: libunwind warning
  .git-third-party/config.json
  .git-third-party/patches/executor/third-party/wasmtime/1
  .git-third-party/patches/executor/third-party/wasmtime/2
Due: none

chore: prepare for CI
  executor/common/src/calldata/types.rs
  executor/modules/interfaces/src/lib.rs
  executor/src/modules.rs
  executor/src/vm.rs
  executor/src/wasi/genlayer_sdk.rs
  runners/dbg.nix
  runners/hashes.nix
Due: no-commit-test, cargo-fmt, cargo-clippy

feat: add hard memory limits
  .gitattributes
  executor/Cargo.toml
  executor/modules/implementation/Cargo.lock
  executor/modules/implementation/Cargo.toml
  executor/src/vm.rs
  executor/src/wasi/genlayer_sdk.rs
Due: cargo-fmt, cargo-clippy

feat: support multiple images in llm calls
  executor/common/src/calldata/de.rs
  executor/common/src/calldata/types.rs
  executor/modules/implementation/scripting/lib-greyboxing.lua
  executor/modules/implementation/src/llm/handler.rs
  executor/modules/implementation/src/llm/mod.rs
  executor/modules/implementation/src/llm/prompt.rs
  executor/modules/implementation/src/llm/providers.rs
  executor/modules/implementation/src/llm/scripting.rs
  executor/modules/interfaces/src/lib.rs
  executor/testdata/cases/py-core/nondet/call_llm_img.py
  runners/cpython/modules/pil/default.nix
  runners/genlayer-py-std/src/genlayer/std/nondet_fns.py
  runners/hashes.nix
Due: cargo-fmt, cargo-clippy

feat!: store code in storage
  executor/codegen/data/host-fns.json
  executor/modules/implementation/scripting/greyboxing.lua
  executor/modules/implementation/scripting/lib-greyboxing.lua
  executor/src/host/host_fns.rs
  executor/src/host/mod.rs
  executor/src/vm.rs
  executor/testdata/cases/py-core/nondet/get_webpage_screenshot.py
  executor/testdata/cases/runners/lock/prepare.py
  executor/testdata/cases/runners/lock/runner.json
  executor/testdata/cases/storage/base.stdout
  executor/testdata/runner/base_host.py
  executor/testdata/runner/host_fns.py
  executor/testdata/runner/mock_host.py
  executor/testdata/runner/run.py
  runners/genlayer-py-std/src/genlayer/py/storage/__init__.py
  runners/genlayer-py-std/src/genlayer/py/storage/_internal/core.py
  runners/genlayer-py-std/src/genlayer/py/storage/_internal/generate.py
  runners/genlayer-py-std/src/genlayer/std/_internal/runner.py
  runners/genlayer-py-std/src/genlayer/std/_internal/storage.py
  runners/hashes.nix
Due: cargo-fmt, cargo-clippy

fix: precompilation not handling :test runners
  executor/src/vm.rs
  executor/testdata/runner/run.py
Due: cargo-fmt, cargo-clippy

feat: add events to python lib
  executor/src/wasi/genlayer_sdk.rs
  executor/src/wasi/gl_call.rs
  runners/dbg.nix
  runners/genlayer-py-std/src/genlayer/py/_internal/event.py
  runners/genlayer-py-std/src/genlayer/std/__init__.py
  runners/genlayer-py-std/src/genlayer/std/advanced.py
  runners/genlayer-py-std/src/genlayer/std/eth.py
  runners/genlayer-py-std/src/genlayer/std/events.py
  runners/genlayer-py-std/tests/test_events.py
  runners/hashes.nix
Due: no-commit-test, cargo-fmt, cargo-clippy

tests: add fuzzing to python
  runners/genlayer-py-std/.gitignore
  runners/genlayer-py-std/poetry.lock
  runners/genlayer-py-std/pyproject.toml
  runners/genlayer-py-std/src/genlayer/py/calldata.py
  runners/genlayer-py-std/tests/__init__.py
  runners/genlayer-py-std/tests/test_calldata.py
  runners/genlayer-py-std/tests/test_fuzz_calldata.py
Due: none

tests: add rust fuzzing
  .github/workflows/full.yaml
  .github/workflows/genvm-build-template.yaml
  .github/workflows/pr.yaml
  .github/workflows/release.yml
  build-scripts/cargo-test.sh
  build-scripts/ci/coverage.rb
  build-scripts/ci/executor-target-linux-amd64.rb
  build-scripts/rust-test.sh
  build-scripts/ya-build-plugins/cargo.rb
  build-scripts/zig-driver.py
  env.sh
  executor/Cargo.toml
  executor/common/Cargo.lock
  executor/common/Cargo.toml
  executor/common/fuzz/genvm-common-decode.rs
  executor/common/fuzz/genvm-common-encode.rs
  executor/common/fuzz/inputs-genvm-common-decode/sample
  executor/common/fuzz/inputs-genvm-common-encode/sample
  executor/common/src/calldata/bin.rs
  executor/common/src/calldata/types.rs
  executor/modules/implementation/src/llm/handler.rs
  executor/modules/implementation/src/llm/providers.rs
  executor/testdata/runner/run.py
  executor/yabuild.rb
  runners/dbg.nix
  runners/genlayer-py-std/tests/test_fuzz_calldata.py
  runners/hashes.nix
Due: no-commit-test, cargo-fmt, cargo-clippy

feat: events (#223)
  .github/workflows/full.yaml
  .github/workflows/genvm-build-template.yaml
  .github/workflows/pr.yaml
  .github/workflows/release.yml
  build-scripts/cargo-test.sh
  build-scripts/ci/coverage.rb
  build-scripts/ci/executor-target-linux-amd64.rb
  build-scripts/rust-test.sh
  build-scripts/ya-build-plugins/cargo.rb
  build-scripts/zig-driver.py
  env.sh
  executor/Cargo.toml
  executor/common/Cargo.lock
  executor/common/Cargo.toml
  executor/common/fuzz/genvm-common-decode.rs
  executor/common/fuzz/genvm-common-encode.rs
  executor/common/fuzz/inputs-genvm-common-decode/sample
  executor/common/fuzz/inputs-genvm-common-encode/sample
  executor/common/src/calldata/bin.rs
  executor/common/src/calldata/types.rs
  executor/modules/implementation/src/llm/handler.rs
  executor/modules/implementation/src/llm/providers.rs
  executor/src/wasi/genlayer_sdk.rs
  executor/src/wasi/gl_call.rs
  executor/testdata/runner/run.py
  executor/yabuild.rb
  runners/genlayer-py-std/.gitignore
  runners/genlayer-py-std/poetry.lock
  runners/genlayer-py-std/pyproject.toml
  runners/genlayer-py-std/src/genlayer/py/_internal/event.py
  runners/genlayer-py-std/src/genlayer/py/calldata.py
  runners/genlayer-py-std/src/genlayer/std/__init__.py
  runners/genlayer-py-std/src/genlayer/std/advanced.py
  runners/genlayer-py-std/src/genlayer/std/eth.py
  runners/genlayer-py-std/src/genlayer/std/events.py
  runners/genlayer-py-std/tests/__init__.py
  runners/genlayer-py-std/tests/test_calldata.py
  runners/genlayer-py-std/tests/test_events.py
  runners/genlayer-py-std/tests/test_fuzz_calldata.py
  runners/hashes.nix
Due: cargo-fmt, cargo-clippy

tests: improve reporting
  executor/modules/implementation/scripting/lib-greyboxing.lua
  executor/testdata/cases/storage/locking/code.py
  executor/testdata/cases/storage/locking/default-frozen.1.stdout
  executor/testdata/cases/storage/locking/modify_ctor.0.stdout
  executor/testdata/cases/storage/locking/modify_later.1.stdout
  executor/testdata/runner/run.py
  runners/dbg.nix
  runners/hashes.nix
Due: no-commit-test

fix: cross compilation
  build-scripts/zig-driver.py
  executor/yabuild.rb
Due: none

wip
  executor/common/src/lib.rs
  executor/modules/implementation/Cargo.lock
  executor/modules/implementation/Cargo.toml
  executor/modules/implementation/scripting/greyboxing.lua
  executor/modules/implementation/scripting/lib-genvm.lua
  executor/modules/implementation/scripting/lib-llm.lua
  executor/modules/implementation/scripting/lib-web.lua
  executor/modules/implementation/scripting/llm-default.lua
  executor/modules/implementation/scripting/web-default.lua
  executor/modules/implementation/src/common/mod.rs
  executor/modules/implementation/src/llm/config.rs
  executor/modules/implementation/src/llm/ctx.rs
  executor/modules/implementation/src/llm/handler.rs
  executor/modules/implementation/src/llm/mod.rs
  executor/modules/implementation/src/llm/providers.rs
  executor/modules/implementation/src/llm/scripting.rs
  executor/modules/implementation/src/main.rs
  executor/modules/implementation/src/scripting/ctx/dflt.rs
  executor/modules/implementation/src/scripting/ctx/mod.rs
  executor/modules/implementation/src/scripting/mod.rs
  executor/modules/implementation/src/scripting/pool.rs
  executor/modules/implementation/src/web/config.rs
  executor/modules/implementation/src/web/ctx.rs
  executor/modules/implementation/src/web/handler.rs
  executor/modules/implementation/src/web/mod.rs
  executor/modules/implementation/tests/lua/bytes.lua
  executor/modules/implementation/tests/lua/get_status.lua
  executor/modules/interfaces/src/lib.rs
  executor/src/modules.rs
  executor/src/vm.rs
  executor/src/wasi/genlayer_sdk.rs
Due: cargo-fmt, cargo-clippy

feat(lua): add proper requests and std library
  doc/schemas/default-config.json
  executor/default-config.yaml
  executor/modules/implementation/Cargo.lock
  executor/modules/implementation/Cargo.toml
  executor/modules/implementation/llm-default-config.yaml
  executor/modules/implementation/scripting/lib-genvm.lua
  executor/modules/implementation/scripting/lib-llm.lua
  executor/modules/implementation/scripting/lib-web.lua
  executor/modules/implementation/scripting/llm-default.lua
  executor/modules/implementation/scripting/web-default.lua
  executor/modules/implementation/src/common/mod.rs
  executor/modules/implementation/src/llm/ctx.rs
  executor/modules/implementation/src/llm/handler.rs
  executor/modules/implementation/src/llm/mod.rs
  executor/modules/implementation/src/llm/prompt.rs
  executor/modules/implementation/src/llm/providers.rs
  executor/modules/implementation/src/scripting/ctx/dflt.rs
  executor/modules/implementation/src/scripting/ctx/mod.rs
  executor/modules/implementation/src/scripting/mod.rs
  executor/modules/implementation/src/web/ctx.rs
  executor/modules/implementation/src/web/domains.rs
  executor/modules/implementation/src/web/handler.rs
  executor/modules/implementation/tests/.gitkeep
  executor/modules/implementation/web-default-config.yaml
  executor/modules/implementation/yabuild.rb
  executor/modules/interfaces/src/lib.rs
  executor/testdata/cases/exploits/file_schema_web_bash.jsonnet
  executor/yabuild.rb
Due: cargo-fmt, cargo-clippy

feat(py-std): add raw requests
  executor/common/src/calldata/se.rs
  executor/modules/implementation/scripting/lib-web.lua
  executor/modules/implementation/scripting/llm-default.lua
  executor/modules/implementation/scripting/web-default.lua
  executor/modules/implementation/src/llm/mod.rs
  executor/modules/implementation/src/scripting/ctx/dflt.rs
  executor/modules/implementation/src/scripting/mod.rs
  executor/modules/implementation/src/web/ctx.rs
  executor/modules/implementation/src/web/handler.rs
  executor/modules/implementation/src/web/mod.rs
  executor/modules/interfaces/src/lib.rs
  executor/src/wasi/genlayer_sdk.rs
  executor/src/wasi/gl_call.rs
  executor/testdata/cases/py-core/nondet/request_body.jsonnet
  executor/testdata/cases/py-core/nondet/request_body.py
  executor/testdata/cases/py-core/nondet/request_body.stdout
  executor/testdata/cases/py-core/nondet/request_status.0.stdout
  executor/testdata/cases/py-core/nondet/request_status.1.stdout
  executor/testdata/cases/py-core/nondet/request_status.jsonnet
  executor/testdata/cases/py-core/nondet/request_status.py
  executor/testdata/web-container/run-test-docker.sh
  runners/dbg.nix
  runners/genlayer-py-std/src/genlayer/std/__init__.py
  runners/genlayer-py-std/src/genlayer/std/nondet_fns.py
  runners/hashes.nix
Due: no-commit-test, cargo-fmt, cargo-clippy

feat: add memory limits for runners
  executor/src/host/mod.rs
  executor/src/memlimiter.rs
  executor/src/mmap.rs
  executor/src/runner.rs
  executor/src/ustar.rs
  executor/src/vm.rs
  executor/testdata/cases/exploits/.gitignore
  executor/testdata/cases/exploits/fork_bomb.jsonnet
  executor/testdata/cases/exploits/fork_bomb.py
  executor/testdata/cases/exploits/fork_bomb.stdout
  executor/testdata/cases/exploits/map_too_many.jsonnet
  executor/testdata/cases/exploits/map_too_many.stdout
  executor/testdata/cases/exploits/map_too_many_prepare.py
Due: cargo-fmt, cargo-clippy

chore: pass CI
  executor/modules/implementation/src/scripting/ctx/dflt.rs
Due: cargo-fmt, cargo-clippy

chore: pass CI
  .github/workflows/codeql.yaml
  .github/workflows/full.yaml
  .github/workflows/genvm-build-runners.yaml
  .github/workflows/genvm-build-template.yaml
  .github/workflows/genvm-test-template.yaml
  .github/workflows/module-test-cargo.yaml
  executor/modules/implementation/src/llm/mod.rs
  executor/testdata/runner/run.py
Due: cargo-fmt, cargo-clippy

tests: add multiple images in LLM test
  executor/testdata/cases/py-core/nondet/call_llm_imgs.jsonnet
  executor/testdata/cases/py-core/nondet/call_llm_imgs.py
  executor/testdata/cases/py-core/nondet/call_llm_imgs.stdout
Due: none

feat: add storage materialize
  executor/testdata/cases/py-core/pitfalls/state_in_nondet.0.stdout
  executor/testdata/cases/py-core/pitfalls/state_in_nondet.1.stdout
  executor/testdata/cases/py-core/pitfalls/state_in_nondet.jsonnet
  executor/testdata/cases/py-core/pitfalls/state_in_nondet.py
  runners/dbg.nix
  runners/genlayer-py-std/src-emb/genlayer_embeddings/py.typed
  runners/genlayer-py-std/src/genlayer/gl/_internal/storage.py
  runners/genlayer-py-std/src/genlayer/py/storage/__init__.py
  runners/genlayer-py-std/src/genlayer/py/storage/_internal/core.py
  runners/hashes.nix
Due: no-commit-test

feat: write custom logging backend
  executor/Cargo.lock
  executor/common/Cargo.toml
  executor/common/src/calldata/se.rs
  executor/common/src/calldata/types.rs
  executor/common/src/lib.rs
  executor/common/src/logger/error.rs
  executor/common/src/logger/log_anyhow.rs
  executor/common/src/logger/mod.rs
  executor/modules/implementation/Cargo.lock
  executor/modules/implementation/src/common/mod.rs
  executor/modules/implementation/src/llm/ctx.rs
  executor/src/exe/run.rs
  executor/src/lib.rs
  executor/src/vm.rs
  executor/src/wasi/genlayer_sdk.rs
Due: cargo-fmt, cargo-clippy

fix: calldata serde workarounds
  executor/common/src/calldata/de.rs
  executor/common/src/calldata/mod.rs
  executor/common/tests/.gitignore
Due: cargo-fmt, cargo-clippy

feat: write custom logging frontend
  executor/Cargo.lock
  executor/Cargo.toml
  executor/common/Cargo.lock
  executor/common/Cargo.toml
  executor/common/src/calldata/se.rs
  executor/common/src/lib.rs
  executor/common/src/logger/error.rs
  executor/common/src/logger/log_anyhow.rs
  executor/common/src/logger/mod.rs
  executor/modules/implementation/Cargo.lock
  executor/modules/implementation/Cargo.toml
  executor/modules/implementation/src/common/mod.rs
  executor/modules/implementation/src/llm/ctx.rs
  executor/modules/implementation/src/llm/handler.rs
  executor/modules/implementation/src/llm/mod.rs
  executor/modules/implementation/src/scripting/ctx/dflt.rs
  executor/modules/implementation/src/scripting/mod.rs
  executor/modules/implementation/src/web/ctx.rs
  executor/modules/implementation/src/web/handler.rs
  executor/modules/implementation/src/web/mod.rs
  executor/src/exe/precompile.rs
  executor/src/exe/run.rs
  executor/src/host/mod.rs
  executor/src/lib.rs
  executor/src/memlimiter.rs
  executor/src/mmap.rs
  executor/src/modules.rs
  executor/src/vm.rs
  executor/src/wasi/genlayer_sdk.rs
  executor/src/wasi/mod.rs
  executor/src/wasi/preview1.rs
Due: cargo-fmt, cargo-clippy

chore: add docs to lua script
  executor/modules/implementation/scripting/llm-default.lua
Due: none

feat: add version
  executor/Cargo.toml
  executor/codegen/data/host-fns.json
  executor/codegen/data/public-abi.json
  executor/codegen/data/result-codes.json
  executor/codegen/templates/py.rb
  executor/codegen/templates/rs.rb
  executor/common/src/lib.rs
  executor/common/src/version.rs
  executor/src/host/host_fns.rs
  executor/src/host/mod.rs
  executor/src/host/result_codes.rs
  executor/src/lib.rs
  executor/src/memlimiter.rs
  executor/src/public_abi.rs
  executor/src/runner.rs
  executor/src/ustar.rs
  executor/src/vm.rs
  executor/src/wasi/base.rs
  executor/src/wasi/genlayer_sdk.rs
  executor/src/wasi/gl_call.rs
  executor/testdata/runner/host_fns.py
  executor/yabuild.rb
  runners/genlayer-py-std/src/genlayer/gl/_internal/result_codes.py
  runners/genlayer-py-std/src/genlayer/gl/_internal/runner.py
  runners/genlayer-py-std/src/genlayer/gl/advanced.py
  runners/genlayer-py-std/src/genlayer/gl/events.py
  runners/genlayer-py-std/src/genlayer/gl/genvm_contracts.py
  runners/genlayer-py-std/src/genlayer/gl/vm.py
  runners/genlayer-py-std/src/genlayer/py/_internal/event.py
  runners/genlayer-py-std/src/genlayer/py/public_abi.py
  runners/genlayer-py-std/yabuild.rb
Due: cargo-fmt, cargo-clippy

fix: make versions greater than current forbidden
  executor/common/src/version.rs
  executor/src/exe/precompile.rs
  executor/src/runner.rs
  executor/src/wasi/genlayer_sdk.rs
  executor/testdata/cases/py-core/events/new_ver.jsonnet
  executor/testdata/cases/py-core/events/new_ver.py
  executor/testdata/cases/py-core/events/new_ver.stdout
  executor/testdata/cases/py-core/events/old_ver.jsonnet
  executor/testdata/cases/py-core/events/old_ver.py
  executor/testdata/cases/py-core/events/old_ver.stdout
  runners/genlayer-py-std/src/genlayer/gl/events.py
Due: cargo-fmt, cargo-clippy
